language: php

php:
  - 5.3
  - 5.4

before_script:
  - cd ..
  - git clone git://github.com/zendframework/ZendSkeletonApplication.git
  - cd ZendSkeletonApplication
  - cp ../SxMail/.travis/composer.json ./
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev
  - rm -rf vendor/rwoverdijk/sxmail
  - cp -r ../SxMail vendor/rwoverdijk/sxmail
  - cd vendor/rwoverdijk/sxmail
  - wget http://cs.sensiolabs.org/get/php-cs-fixer.phar

script:
  - phpunit
  - php coverage-checker.php clover.xml 95
  - output=$(php php-cs-fixer.phar fix -v --dry-run --level=psr2 .); if [[ $output ]]; then while read -r line; do echo -e "\e[00;31m$line\e[00m"; done <<< "$output"; false; fi;
